header {
  background-color: white;
}
main {
  background-image: url("https://img.freepik.com/premium-photo/children-s-toys-beige-background-with-copy-space-multicolored-wooden-plush-toys-toddler-baby-eco-friendly-toy-plastic-free-empty-space-your-text-advertising-3d-rendering_429124-3143.jpg?w=2000");
  background-position: center;
  background-size: 100% 100%;
}
.wrapper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  font-size: 62px;
  color: yellow;
  margin-bottom: 5px;
}
.wrapper p {
  width: 70%;
  margin: 5px auto;
  text-align: center;
  color: white;
}
