.container {
  width: 1200px;
  height: 500px;

  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 250px 250px;
}
.box-1 {
  background-color: lightsalmon;
  display: grid;
  grid-template-columns: 300px 300px;
}
.box-1-1 {
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.box-1-2 {
  background-color: green;
}

.box-2 {
  background-color: lightgrey;
  display: grid;
  grid-template-rows: 125px 125px;
}
.box-2-1 {
  background-color: lavenderblush;
}
.box-2-2 {
  background-color: lightslategray;
}

.box-3 {
  background-color: rgb(38, 98, 98);
}
.box-4 {
  background-color: lightseagreen;
}
