.categories {
  height: 130px;

  width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.category img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.categories img:hover {
  border: 5px solid green;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.add-to-cart {
  background-color: green;
  border: none;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.remove-from-cart {
  background-color: red;
  border: none;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
