#bgImage {
  height: 300px;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.6)),
    url("https://static.vecteezy.com/system/resources/previews/040/888/771/non_2x/ai-generated-examine-the-significance-of-debugging-tools-and-techniques-in-the-programming-workflow-and-evaluate-how-they-contribute-to-improving-code-quality-and-efficiency-free-photo.jpg");
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
#user-image {
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 200px;
}
main h1 {
  margin-top: 120px;
  font-size: 37px;
  text-align: center;
  color: darkgreen;
  text-shadow: 0 0 3px black;
}
main h4 {
  margin-top: 5px;
  text-align: center;
}
main p {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
main img {
  border-radius: 50%;
}
#logos {
  width: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}
#icon {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
