.container {
  width: 1000px;
  height: 500px;

  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.item1 {
  /* background-color: lightgreen; */
  background-image: url("https://img.freepik.com/premium-photo/black-fragrance-perfume-bottle-mockup-dark-background-top-view_1182900-16081.jpg");
  /* background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: top left;
  border: 2px solid red; */

  grid-column: 1/4;
  grid-row: 1/5;
}
.item2 {
  /* background-color: salmon; */
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230413/pngtree-cosmetics-makeup-beauty-tools-cartoon-gradient-advertising-background-image_2239968.jpg");
  background-size: 100% 100%;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}
.item3 {
  /* background-color: lightgray; */
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.zdNB_W-JL8Q-3wN_vUZbxAHaEe?rs=1&pid=ImgDetMain&o=7&rm=3");
  grid-column: 4/6;
  grid-row: 3/5;
}
