@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reducer {
  padding: 100px;
}
.reducer h1 {
  margin-bottom: 20px;
}
.reducer button {
  padding: 11px 30px;
  margin-right: 20px;
}
