.categories {
  height: 130px;

  width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.category img {
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.categories img:hover {
  border: 5px solid green;
}
