.navbar {
  height: 100px;
  box-shadow: 0 0 10px tomato;
  display: grid;
  grid-template-columns: 35% 45% 20%;
}
#brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
#brand h1 {
  font-size: 52px;
  color: tomato;
}

#menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menus a {
  text-decoration: none;
  font-size: 19px;
  margin-right: 50px;
}
