.product-details {
  width: 1100px;

  margin: 10px auto;
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 30px;
  padding: 20px;
}
.details {
  display: grid;
  grid-template-rows: 35% 65%;
}
.products-info dt {
  font-size: 24px;
  color: tomato;
  font-weight: bold;
}
.products-info dd {
  margin-bottom: 20px;
}
.btns {
  margin-top: 30px;
}
.btns button {
  padding: 15px 30px;
  border: none;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}
.btns button:nth-child(1) {
  background-color: tomato;
  color: white;
}
.btns button:nth-child(2) {
  background-color: green;
  color: white;
}
table td {
  width: 50%;
}
.product-details > section:nth-child(1) {
  width: 100%;
  height: 100%;
}
.product-details img {
  width: 100%;
  height: 430px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 10px black;
}
