.A {
  width: 800px;
  box-shadow: 0 0 10px black;
  margin: 50px;
  padding: 20px;
}

.A > div {
  width: 600px;
  box-shadow: 0 0 10px red;
  margin: 10px;
  padding: 20px;
}
.A > div > div {
  width: 400px;
  box-shadow: 0 0 10px green;
  margin: 10px;
  padding: 20px;
}
.A > div > div > div {
  width: 300px;
  box-shadow: 0 0 10px blue;
  margin: 10px;
  padding: 20px;
}
